<link rel="stylesheet" href="/static/style.css">
<div class="table-history">
  <table>
    <caption class="caption-history">Fuel Quote History</caption>
    <tr>
      <th>Gallon's Requested</th>
      <th>Delivery Address</th>
      <th>Delivery Date</th>
      <th>Suggested Price</th>
      <th>Total Amount Due</th>
    </tr>
    <!-- For loop logic of jinja template -->
    {%for x in myresult%}
    <!-- table rows -->
    <tr>
        <td>{{x[0]}}</td>
        <td>{{x[4]}} {{x[5]}}, {{x[6]}} {{x[7]}} {{x[8]}}</td>
        <td>{{x[1]}}</td>
        <td>{{x[2]}}</td>
        <td>{{x[3]}}</td>
    {%endfor%}
    </tr>
  </table>
        <!-- <p class="p-history">Back to Client profile</p> -->
        <!-- <a class="a-history" href="client.html">Client Profile</a> -->
        <br>
        <a href="index.html" class="back">Go Back</a>
</div>
